
.app{
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

.note-section{
    display: flex;
    justify-content: space-between;
}

h1{
    color: #333;
}

.notes{
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 200px;
}

.note{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.note p {
    margin: 0;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.add-note{
    border: 1px solid #ccc;
    padding: 10px;
    /* flex-grow flex-shrink flex-basis */
    flex: 1 1 0;
    margin-left: 10px;
}

.add-note input{
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;

}


.add-note button{
    width: 100%;
}

.edit-note{
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
.edit-note input{
    width: 100%;
    margin-bottom: 10px;
}