.comment-box {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.text-area {
  width: 100%;
  box-sizing: border-box;
}

.button {
  padding: 5px 10px;
  background-color: blue;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
