.navbar > ul {
  padding-left: 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  list-style: none;
  font-size: 24px;
}

.navbar > ul > li > a {
  padding: 10px;
  text-decoration: none;
}

.navbar > ul > li > a:hover {
  border: 1px solid #000;
}
