.navbar > ul {
  padding-left: 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  list-style: none;
  font-size: 24px;
}

.navbar > ul > li {
  display: inline-flex;
}

.navbar > ul > li > a {
  padding: 10px;
  text-decoration: none;
}

.navbar > ul > li > a:hover {
  outline: 1px solid #000;
}

.dark-mode {
  background-color: #000;
}

.dark-mode a {
  color: #fff;
}

.dark-mode a:hover {
  outline: 0 !important;
  background-color: #95a5a6;
}
